# Craft
/craft/app/*
/craft/storage/*
!/craft/storage/rebrand/*
/craft/config/db.php
/craft/config/license.key
/public/uploads/*
/public/.htaccess

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Other stuff
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-workspace
*.sublime-project
logs/*
node_modules
.sass-cache
package-lock.json
