{% set pageName = 'guides' %}

{% extends "layouts/default.html" %}

{% block content %}

<main class="home">
  <div class="container">
    <div class="row">
      <div class="item item--max-width">
        <h1 class="h1">This is heading one text</h1>
        <h2 class="h2">This is heading two text</h2>
        <h3 class="h3">This is heading three text</h3>
        <h4 class="h4">This is heading four text</h4>
        <h5 class="h5">This is heading five text</h5>
        <h6 class="h6">This is heading six text</h6>
        <p>Lorem ipsum dolor sit amet, consectetur <abbr title="Abbreviation">abbr</abbr> adipisicing elit. Nostrum blanditiis pariatur explicabo dolore, laborum laboriosam atque, <a href="#">inline link</a> asperiores culpa vitae aliquam <em>emphasis</em> commodi nobis repellendus! <strong>strong</strong> debitis nostrum, repellendus quam impedit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ea hic odit maiores tenetur laudantium nulla, ipsum dolorem labore repudiandae, debitis beatae rem modi aperiam cupiditate, in accusantium natus itaque.</p>
        <p class="small">This is small print</p>

        <h2 class="h2">Button styles</h2>
        <p>Vero blanditiis facere vel magni culpa adipisci aliquam quia, cupiditate accusamus expedita alias, reiciendis non veritatis facilis consectetur consequatur nulla inventore nesciunt.</p>

        <button class="btn">Button</button>
        <a href="#" class="btn">Link button</a>

        <button class="btn btn--primary">Button (primary)</button>
        <a href="#" class="btn btn--primary">Link button(primary)</a>
        <button class="btn btn--primary" disabled>Disabled button (primary)</button>
        <button class="btn btn--primary btn--loading">Loading button (primary)</button>

        <button class="btn btn--outline">Button (outline)</button>
        <a href="#" class="btn btn--outline">Link button (outline)</a>
        <button class="btn btn--outline" disabled>Button (outline)</button>

        <button class="btn btn--link">Button (text)</button>
        <a href="#" class="btn btn--link">Link button (text)</a>

        <button class="btn btn--primary btn--block">Block button (primary)</button>

        <p class="h2">Paragraph that looks like h2</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ea hic odit maiores tenetur laudantium nulla, ipsum dolorem labore repudiandae, debitis beatae rem modi aperiam cupiditate, in accusantium natus itaque.</p>

        <blockquote class="blockquote">
          <p class="blockquote__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus perspiciatis animi natus temporibus, ex!</p>
          <cite class="blockquote__source">Sam Lester, Co-founder, Inktrap</cite>
        </blockquote>

        <p>Mollitia, eius eum optio consectetur autem soluta libero, nam praesentium iure animi ut corporis vero numquam vitae rem enim laboriosam asperiores hic velit eos distinctio. Consequatur dolorum tempora mollitia unde.</p>

        <figure>
          <img src="http://placehold.it/600x400" alt="">
        </figure>

        <p>Quaerat itaque quibusdam temporibus sint ipsum nulla mollitia porro quia. Quaerat architecto, possimus aliquid non harum commodi! Est, id, quam beatae dolore quos iure consequuntur, nulla blanditiis repellendus quo aperiam.</p>

        <figure>
          <img src="http://placehold.it/600x400" alt="">
          <figcaption>Captions look like this</figcaption>
        </figure>

        <p>Consequuntur omnis saepe totam itaque quidem labore quae non dolore quam possimus sapiente cupiditate quisquam recusandae natus fugit at ea, perspiciatis tempora laboriosam nisi, tenetur. Commodi eveniet libero, aspernatur. Velit.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="item item--half item--with-spacing">
        <img src="http://placehold.it/600x400" alt="">
        <h2 class="h3">Project name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eos necessitatibus incidunt.</p>
        <a href="#">View project</a>
      </div>

      <div class="item item--half item--with-spacing">
        <img src="http://placehold.it/600x400" alt="">
        <h2 class="h3">Project name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eos necessitatibus incidunt.</p>
        <a href="#">View project</a>
      </div>

      <div class="item item--half item--with-spacing">
        <img src="http://placehold.it/600x400" alt="">
        <h2 class="h3">Project name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eos necessitatibus incidunt.</p>
        <a href="#">View project</a>
      </div>
    </div>
  </div>

  <div class="container">
    <img src="http://placehold.it/2000x600" alt="">
  </div>

  <div class="container">
    <div class="row">
      <div class="item">
        <h2 class="h3">Grid test</h2>
      </div>
    </div>
    <div class="row">
      <div class="item item--full">
        <p>Full</p>
      </div>

      <div class="item item--half">
        <p>Half</p>
      </div>

      <div class="item item--half">
        <p>Half</p>
      </div>

      <div class="item item--third">
        <p>Third</p>
      </div>

      <div class="item item--third">
        <p>Third</p>
      </div>

      <div class="item item--third">
        <p>Third</p>
      </div>

      <div class="item item--third">
        <p>Third</p>
      </div>

      <div class="item item--two-thirds">
        <p>Two thirds</p>
      </div>

      <div class="item item--quarter">
        <p>Quarter</p>
      </div>

      <div class="item item--quarter">
        <p>Quarter</p>
      </div>

      <div class="item item--quarter">
        <p>Quarter</p>
      </div>

      <div class="item item--quarter">
        <p>Quarter</p>
      </div>

      <div class="item item--quarter">
        <p>Quarter</p>
      </div>

      <div class="item item--three-quarters">
        <p>Three quarters</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
