// Base
// --------------------------------------------------

// Border box for everything
* {
  box-sizing: border-box;
}


body {
  overflow-y: scroll; // Always show scrollbar
  min-height: 100vh;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-text-color;
  line-height: $base-line-height;
  background-color: $background-color;
  text-size-adjust: none;

  @include media($m) {
    font-size: $base-font-size-m;
  }
}

// Use ligatures, kerning and font smoothing
body,
button,
input,
*:before,
*:after {
  font-feature-settings: "kern", "liga", "pnum";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Selected text style
::selection {
  background-color: lighten($brand-color, 90%);
}
