// Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: $half-spacing $base-spacing;
  color: $action-color;
  background-color: transparent;
  font-family: $base-font-family;
  font-weight: 700;
  border-radius: $base-border-radius;
  cursor: pointer;
  transition-property: color, background-color, border-color, width;
  transition: $base-duration $ease-out-quint;
  margin-bottom: 0;
  border: 3px solid transparent;
  margin-right: $half-spacing;
  margin-bottom: $half-spacing;
  line-height: 1.2;

  &:hover,
  &:focus {
    color: shade($action-color, 20%);
    outline: none;
  }

  &:active {
    color: shade($action-color, 40%);
  }

  &:last-child {
    margin-right: 0;
  }
}

// Sizes
.btn--small {
  padding: 0.5em 1em;
}

.btn--large {
  padding: 1em 1.6em;
}

// Layout
.btn--block {
  width: 100%;
  display: block;
}

// Types
.btn--primary {
  background-color: $brand-color;
  color: #fff;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:active {
    background-color: shade($action-color, 40%);
    color: #fff;
  }
}

.btn--outline {
  border-color: $brand-color;
  background-color: transparent;
  color: $brand-color;

  &:hover,
  &:active,
  &:focus {
    border-color: shade($action-color, 20%);
    color: shade($action-color, 20%);
  }

  &:active {
    border-color: shade($action-color, 40%);
    color: shade($action-color, 40%);
  }
}

.btn--link {
  padding-left: 0;
  padding-right: 0;
}

// States
.btn--disabled,
.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.btn--loading {
  pointer-events: none;
  text-indent: -9999rem;
}
