// Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  padding: $half-spacing $base-spacing;
  color: $action-color;
  background-color: transparent;
  font-family: $base-font-family;
  font-weight: 700;
  border-radius: $base-border-radius;
  border: none;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition: $short-duration ease-in-out;
  margin-bottom: 0;

  &:hover,
  &:focus {
    color: darken($action-color, 10%);
    background-color: shade($action-color, 10%);
    outline: none;
  }

  &:active {
    background-color: shade($action-color, 20%);
  }

  // Multiple buttons in a row
  & + .btn {
    margin-left: $base-spacing;
  }
}

// Sizes
.btn--small {
  padding: 0.5em 1em;
}

.btn--large {
  padding: 1em 1.6em;
}

// Layout
.btn--block {
  width: 100%;
  display: block;
}

// Types
.btn--primary {
  background-color: $brand-color;

  &:hover,
  &:active {
    background-color: shade($brand-color, 15%);
    color: #fff;
  }
}

.btn--outline {

}

.btn--link {
  background-color: transparent;
  color: $action-color;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: $half-spacing;
  margin-right: $half-spacing;

  &:hover, &:focus {
    color: shade($action-color, 10%);
    background-color: transparent;
  }

  &:active {
    color: shade($action-color, 20%);
    background-color: transparent;
  }
}

.btn--disabled
.btn[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
