// Grid
// --------------------------------------------------

// Container
.container {
  padding: $half-gutter-width;

  @include media($l) {
    padding: $half-gutter-width-l;
  }
}

// Container with items that have no gutters
.container--flush {
  padding: 0;

  @include media($m) {
    padding: $gutter-width $half-gutter-width;
  }

  .row {
    padding: 0;

    @include media($m) {
      padding-left: $half-gutter-width;
      padding-right: $half-gutter-width;
    }

    @include media($l) {
      padding-left: $half-gutter-width-l;
      padding-right: $half-gutter-width-l;
    }
  }

  .item {
    padding: 0;
  }
}

.container--full-height {
  @include media($m) {
    min-height: 100vh;
  }
}

// Container with no padding
.container--full {
  padding: 0;
}

// Containers with borders
.container--has-border {
  border-bottom: $base-border;
}

// Containers with alternating items on desktop
.container--alternate-reverse {
  @include media($m) {
    .row:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

// Row
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: 0 auto;

  @include media($m) {
    flex-direction: row;
  }
}

.row--align-center {
  justify-content: center;
}

.row--align-right {
  justify-content: flex-end;
}

.row--vertical-center {
  align-items: center;
}

// Items
.item {
  flex: 1 0 auto;
  display: block;
  width: 100%;
  min-width: 1px; // Fix weird wrapping issues
  padding: 0 $half-gutter-width; // Column spacing

  &:last-child {
    margin-bottom: 0;
  }

  @include media($m) {
    width: auto;
    max-width: 100%;
  }

  @include media($l) {
    padding: 0 $half-gutter-width-l;
  }
}

.item--full {
  flex-basis: 100%;
  width: 100%;
}

.item--half {
  flex-basis: 100%;
  width: 100%;

  @include media($m) {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.item--quarter {
  flex-basis: 100%;
  width: 100%;

  @include media($m) {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.item--three-quarters {
  flex-basis: 100%;
  width: 100%;

  @include media($m) {
    flex-basis: 75%;
    max-width: 75%;
  }
}

.item--third {
  max-width: 100%;

  @include media($m) {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
}

.item--two-thirds {
  width: 100%;

  @include media($m) {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
  }
}

.item--max-width {
  width: 100%;
  max-width: $item-max-width;
}

.item--with-spacing {
  margin-bottom: $half-gutter-width;

  @include media($l) {
    margin-bottom: $half-gutter-width-l;
  }
}

// Padded boxes
.content {
  padding: $base-spacing;

  @include media($m) {
    padding: $base-spacing-m;
  }
}
