// Blockquotes
// --------------------------------------------------

.blockquote {
  clear: both;
  width: 100%;
  margin: $base-spacing 0 $base-spacing 0;
  padding-left: $double-spacing;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 6px;
    height: calc(100% - 14px);
    top: 7px;
    left: 2px;
    background-color: $brand-color;
  }
}

.blockquote__quote {
  font-style: italic;
  font-size: $h4-font-size;
  text-indent: -0.4em;
  margin-top: 0;
  margin-bottom: $half-spacing;

  &:before {
    content: "\201C";
  }

  &:after {
    content: "\201D";
  }
}

.blockquote__source {
  font-style: normal;

  &:before {
    content: "\2014";
    margin-right: 0.2em;
  }
}

.blockquote--left, .blockquote--right {
  margin-top: $half-spacing;
  width: 50%;
  margin-bottom: $base-spacing;
}

.blockquote--left {
  float: left;
  margin-right: $base-spacing;
}

.blockquote--right {
  float: right;
  margin-left: $base-spacing;
}