// Buttons
// --------------------------------------------------

.btn {
  transition: all $short-duration ease-in-out;

  display: inline-block;
  color: #fff;
  background-color: $action-color;
  padding: $half-spacing $base-spacing;
  margin-right: $half-spacing;
  font-family: $base-font-family;
  font-weight: bold;
  border-radius: $base-border-radius;
  border: none;
  margin-top: $base-spacing;

  &:hover, &:focus {
    color: #fff;
    background-color: shade($action-color, 10%);
    outline: none;
  }

  &:active {
    background-color: shade($action-color, 20%);
  }
}

.btn--secondary {
  background-color: $dark-color;

  &:hover, &:active {
    background-color: shade($brand-color, 15%);
    color: #fff;
  }
}

.btn--large {
  padding: 1em 1.6em;
}

.btn--link {
  background-color: transparent;
  color: $action-color;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: $half-spacing;
  margin-right: $half-spacing;

  &:hover, &:focus {
    color: shade($action-color, 10%);
    background-color: transparent;
  }

  &:active {
    color: shade($action-color, 20%);
    background-color: transparent;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: calc(#{$half-spacing} - 2px);
    left: 0;
    background-color: tint($action-color, 60%);
  }

  &:after {
    transition: all $base-duration ease-in-out;
    transform: scaleX(0);

    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: calc(#{$half-spacing} - 2px);
    left: 0;
    visibility: hidden;
    background-color: $action-color;
  }

  &:hover:after {
    transform: scaleX(1);

    background-color: $action-color;
    visibility: visible;
  }
}

.btn--icon {
  &:before, &:after {
    @include icon-font;

    display: inline-block;
    width: 0.8em;
    position: relative;
    top: 1px;
  }

  &:before {
    text-align: left;
    margin-right: 0.2em;
  }

  &:after {
    text-align: right;
    margin-left: 0.2em;
  }
}

.btn--forward {
  @extend .btn--icon;

  &:after {
    font-size: 1.3em;
    content: '\f10a';
    top: 3px;
  }
}

.btn--block {
  width: 100%;
  display: block;
}