// Grid
// --------------------------------------------------

// Container
.container {
  padding: $half-gutter-width;

  @include media($l) {
    padding: $half-gutter-width-l;
  }
}

.container--flush {
  padding: 0;

  @include media($m) {
    padding: $gutter-width $half-gutter-width;
  }

  .row {
    padding: 0;

    @include media($m) {
      padding-left: $half-gutter-width;
      padding-right: $half-gutter-width;
    }
    
    @include media($l) {
      padding-left: $half-gutter-width-l;
      padding-right: $half-gutter-width-l;
    }
  }

  .item {
    padding: 0;
  }
}

// Containers with borders
.container--has-border {
  border-bottom: $base-border;
}

// Containers with alternating items on desktop
.container--alternate-reverse {
  @include media($m) {
    .row:nth-child(2n) {
      @include flex-direction(row-reverse);
    }
  }
}

// Row
.row {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(wrap);

  max-width: $max-width;
  margin: 0 auto;

  @include media($m) {
    @include flex-direction(row);
  }
}

.row--align-center {
  @include justify-content(center);
}

.row--align-right {
  @include justify-content(flex-end);
}

.row--vertical-center {
  @include align-items(center);
}

// Items
.item {
  @include flex(1 0 auto);

  display: block;
  width: 100%;
  min-width: 1px; // Fix weird wrapping issues
  padding: 0 $half-gutter-width; // Column spacing

  @include media($m) {
    width: auto;
    max-width: 100%;
  }

  @include media($l) {
    padding: 0 $half-gutter-width-l;
  }
}

.item--flex {
  @include display(flex);
}

.item--full {
  @include flex-basis(100%);
  max-width: 100%;
}

.item--half {
  @include flex-basis(100%);
  width: 100%;

  @include media($m) {
    @include flex-basis(50%);
    max-width: 50%;
  }
}

.item--quarter {
  @include flex-basis(100%);
  width: 100%;

  @include media($m) {
    @include flex-basis(25%);
    max-width: 25%;
  }
}

.item--three-quarters {
  @include flex-basis(100%);
  width: 100%;

  @include media($m) {
    @include flex-basis(75%);
    max-width: 75%;
  }
}

.item--third {
  max-width: 100%;

  @include media($m) {
    @include flex-basis(33.3333%);
    max-width: 33.3333%;
  }
}

.item--two-thirds {
  width: 100%;

  @include media($m) {
    @include flex-basis(66.6666%);
    max-width: 66.6666%;
  }
}

.item--max-width {
  width: 100%;
  max-width: $item-max-width;
}

.item--with-spacing {
  margin-bottom: $gutter-width;

  @include media($l) {
    margin-bottom: $gutter-width-l;
  }
}

// Padded boxes
.content {
  padding: $gutter-width;

  @include media($l) {
    padding: $gutter-width-l;
  }
}

.content--vertical-center {
  @include display(flex);
  @include justify-content(center);
}

