// Helpers
// --------------------------------------------------

// Hide elements
.hidden {
  display: none;
}

// Hide elements until a specific breakpoint
.hidden-until-m {
  display: none;

  @include media($m) {
    display: block;
  }
}

.hidden-until-l {
  display: none;

  @include media($l) {
    display: block;
  }
}

// Hidden but can still be seen by screen readers
.sr-only {
  position: absolute;
  left: -999em;
  top: -999em;
}

// Clearfix
.clearfix {
  zoom: 1;
  overflow: visible !important;

  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}

// Remove all margins
.no-margin {
  margin: 0;
}

// Grid testing
// Add to the body to highlight the grid for debugging
.grid-test {
  .container {
    background-color: goldenrod !important;
    border: 1px solid darken(goldenrod, 20%);
  }

  .row {
    background-color: fuchsia !important;
    border: 1px solid darken(fuchsia, 20%);
  }

  .item {
    background-color: aqua !important;
    border: 1px solid darken(aqua, 20%);
  }
}

// Breakpoint indicator (hide this in production)
.breakpoint {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: aqua;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  z-index: 9999;

  &:before {
    content: '-';
    width: 30px;
    display: block;
    text-align: center;
    content: 'XS';

    @include media($s) {
      content: 'S';
    }

    @include media($m) {
      content: 'M';
    }

    @include media($l) {
      content: 'L';
    }

    @include media($xl) {
      content: 'XL';
    }
  }
}