// Links
// --------------------------------------------------

a {
  @include transition(all $short-duration);

  color: $action-color;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($action-color, 10%);
    outline: none;
  }

  &:active {
    color: darken($action-color, 20%);
  }
}

p a, .inline-link {
  position: relative;

  &:before {
    @include transition(all $base-duration ease-in-out);
    @include transform(scaleX(0));

    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: tint($action-color, 60%);
    visibility: hidden;
  }

  &:hover:before {
    @include transform(scaleX(1));

    background-color: $action-color;
    visibility: visible;
  }
}

.action-link {
  position: relative;
  margin-top: $half-spacing;
  display: inline-block;
  margin-bottom: $half-spacing;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: tint($action-color, 60%);
  }

  &:after {
    @include transition(all $base-duration ease-in-out);
    @include transform(scaleX(0));

    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    visibility: hidden;
    background-color: $action-color;
  }

  &:hover:after {
    @include transform(scaleX(1));

    background-color: $action-color;
    visibility: visible;
  }
}