// Mixins
// --------------------------------------------------

// Media queries
@mixin media($width) {
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin hidpi {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2.0dppx) {
    @content;
  }
}

// Tint and shade
/*@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}*/

// Heading sizes
@mixin heading-style($size) {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: $heading-weight;
  color: $heading-text-color;

  @if $size == 1 {
    font-size: $h1-font-size;

    @include media($m) {
      font-size: $h1-font-size-m;
    }
  } @else if $size == 2 {
    font-size: $h2-font-size;

    @include media($m) {
      font-size: $h2-font-size-m;
    }
  } @else if $size == 3 {
    font-size: $h3-font-size;

    @include media($m) {
      font-size: $h3-font-size-m;
    }
  } @else if $size == 4 {
    font-size: $h4-font-size;

    @include media($m) {
      font-size: $h4-font-size-m;
    }
  } @else {
    font-size: $h5-font-size;

    @include media($m) {
      font-size: $h5-font-size-m;
    }
  }
}
